{% extends 'base.html.twig' %}

{% block title %}Materiales del curso{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Materiales:</h1>
    <h2>{{curso.nombre}}</h2>
    
    <ul>
    {% for material in materiales %}        
        <li>
            <i>{{ material.fecha|date('d/m/Y', timezone="Europe/Paris") }}</i>: {{ material.nombre}}
        </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}
