    body {
        background-color: silver;
    }
    
    #menu {
        display: block;
        background-color: navy;
        color: white;
        height: 3em;
    }
    
    #left-menu {
        position: absolute;
        left: 0.5em;
        top: 0.5em;
    }
    
    #right-menu {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }
    
    .cards {
        clear: both
    }
    
    .card-home {
        float: left;
        width: 20em;
        min-height: 3.5em;
        margin-right: 1em;
        text-align: center;
    }
    
    .card-pais {
        float: left;
        width: 10em;
        min-height: 5em;
        margin-right: 1em;
        text-align: center;
    }
    
    .clear {
        clear: both;
    }