{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% block menu %}
    {% include 'inc/menu.html.twig' %}
{% endblock %}

<div class="example-wrapper">
    <h1>Pais: {{ pais.nombre }}</h1>
    <h2>Centro: {{ centro.nombre }}</h1>
    <hr>

    <ul>
    {% for curso in cursos %}
        {% if curso.activo > 0 %}
        <li>
            <strong>
                {{ curso.nombre }}
            </strong>
            <p>
                {{ curso.descripcion }}                
            </p>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <script type="text/javascript">
                    function suscribirse(path){
                        //console.log(path);
                        let id = path.split("/")[2];
                        console.log(id);

                        $.ajax({
                            type: "GET",
                            url: path,
                            success: function(data) {
                                console.log("Suscrito:" + data);
                                $('#'+id).text('Suscrito (espere a la activación');
                                $('#'+id).removeClass('btn-primary');
                                $('#'+id).addClass('btn-success');
                                $('#'+id).prop("onclick", null).off("click");
                            },
                            fail: function(data){
                                console.log("Error:" + data);
                            }
                        });
                        return false;
                    }
                </script>
                {# Comprobamos suscripcion #}
                
                {% set suscrito = 0 %}
                {% for key, suscripcion in suscripciones %}
                    {# k= {{key}}, c:{{ curso.id }}, s:{{ suscripcion[0] }}, a: {{ suscripcion[1] }}<br> #}

                    {% set activo = suscripcion[1] %}
                    {% if curso.id == suscripcion[0] %}
                        {% set suscrito = 1 %}
                        {% if activo > 0 %}              
                            <a href="{{ path('material', {'id_curso': curso.id}) }}" class="btn btn-success btn-xs" >
                                Ver Materiales
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-warning btn-xs" >
                                Espere activación
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if suscrito == 0 %}
                    <a id="{{ curso.id }}" onclick="suscribirse('{{ path('suscribirseCurso', {'id_usuario': app.user.id, 'id_curso': curso.id}) }}')" href="#" class="btn btn-primary btn-xs">
                        Suscribirme al curso
                    </a>                    
                {% endif %}

            {% else %}
                <a href="/login" class="btn btn-warning btn-xs" >
                    Inicie sesión para suscribirse
                </a>
            {% endif %}
            <hr>
            
                        
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    
</div>
{% endblock %}
