{% extends 'base.html.twig' %}

{% block title %}Seleccione un País{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Seleccione un País:</h1>
    {% for pais in paises %}
    <div class="card card-pais">
        <div class="card-body">
            <h5 class="card-title">{{ pais.nombre }}</h5>
            <p class="card-text">
                <a href="{{ path('centros', {'pais': pais.id}) }}" class="btn btn-primary">Acceder</a>
            </p>            
            
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}
