<nav id="menu">
    <div id="left-menu">
        <a href="{{ path('paises') }}">
        HOME 
        </a>
        >
        <a href="{{ path('centros', {'pais': pais.id}) }}">        
            {{ pais.nombre}}
        </a>
        {% if centro is defined %}
        >
        <a href="{{ path('cursos', {'pais': pais.id, 'centro': centro.id } ) }}">        
            {{ centro.nombre}}
        </a>
        {% endif %}
    </div>
    <div id="right-menu">        
        <svg class="bi bi-person-fill" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5 16s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H5zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
        </svg>
                
        {% if is_granted('ROLE_ADMIN') %}
            Admin: {{ app.user.username }}
            <a href="/logout">X</a>
        {% elseif is_granted('ROLE_USER') %}
            Usuario: {{ app.user.username }}
            <a href="/logout">X</a>
        {% else %}
            <a href="/login">Iniciar sesión</a>
        {% endif %}
    </div>
</nav>

