{% extends 'base.html.twig' %}

{% block title %}Demo Symfony 4.4.5 LTS{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Demo Symfony 4.4.5 LTS ✅</h1>
    <div class="cards">
        <p>La demo se divide en dos partes:</p>
        <div class="card card-home">
            <div class="card-body">
                <h5 class="card-title"><a href="/paises">Web de usuarios</a></h5>            
            </div>
        </div>

        <div class="card card-home">
            <div class="card-body">
                <h5 class="card-title"><a href="/admin">Panel de control</a></h5>
            </div>
        </div>
        
    </div>
    </div>

</div>
{% endblock %}
