{% extends 'base.html.twig' %}

{% block title %}Centros{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {% include 'inc/menu.html.twig' %}


<div class="example-wrapper">
    <h1>Pais: {{ pais.nombre }}</h1>

    <p>
        Listado de centros disponibles: ({{ centros|length }})
    </p>

    <ul>
    {% for centro in centros %}
        <li>
            <a href="{{ path('cursos', {'pais': pais.id, 'centro': centro.id }) }} ">
            {{ centro.nombre }}
            </a>
            Telefono: {{ centro.telefono }}
            Dirección: {{ centro.direccion }}
        </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}
